* {
	scroll-behavior: smooth;
}

.wrapper {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.container2 {
	max-width: 1100px;
	margin: 0 auto;
	height: 100%;
}

.fullscreen {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, #f2f8fd, #21067533);
	display: flex;
	justify-content: center;
	align-items: center;
}

.fullscreen__introduction {
	width: 740px;
	background-color: #fff;
	height: 530px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	padding: 0 60px;
	text-align: center;
}

.fullscreen__greetings {
	font-size: 16px;
	letter-spacing: 2.5px;
	font-weight: 700;
}

.fullscreen__headline {
	font-size: 64px;
	text-align: center;
	width: 100%;
	font-weight: 700;
}

.fullscreen__date {
	font-weight: 700;
	font-size: 22px;
	line-height: 1.55;
	opacity: .5;
}

@media(max-width:740px) {
	.fullscreen__introduction {
		width: 100%;
		height: 450px;
	}

	.fullscreen__headline {
		font-size: 48px;
	}
}

@media(max-width:538px) {
	.fullscreen__introduction {
		height: 350px;
		padding: 0 30px;
	}

	.fullscreen__headline {
		font-size: 32px;
	}

	.fullscreen__date {
		font-size: 18px;
	}

	.fullscreen__greetings {
		font-size: 14px;
	}
}

@media(max-width:540px) {
	.fullscreen__introduction {
		padding: 0 20px;
	}
}

@media(max-height:530px) {
	.fullscreen__introduction {
		height: 100vh;
	}

	.fullscreen__headline {
		font-size: 48px;
	}
}

.program {
	width: 100%;
	padding: 105px 0;
}

.program__content {
	width: 100%;
	height: 100%;
}

.program__headline {
	font-weight: 700;
	font-size: 26px;
	line-height: 1.55;
}

.program__info {
	margin-top: 15px;
}

.program__punkt {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	margin-top: 50px;
}

.fa-check-circle {
	font-size: 55px;
	color: #9083BA;
	margin-right: 25px;
}

.program__text {
	font-size: 22px;
	line-height: 1.55;
}

@media(max-width:840px) {
	.program {
		padding: 80px 30px;
	}
}

@media(max-width:644px) {
	.program {
		padding: 50px 25px;
	}

	.fa-check-circle {
		font-size: 40px;
	}

	.program__headline {
		font-size: 24px;
	}

	.program__text {
		font-size: 18px;
		line-height: 1.55;
	}

	.program__punkt {
		margin-top: 20px;
	}
}

@media(max-width:486px) {
	.program {
		padding: 40px 20px;
	}

	.fa-check-circle {
		margin-right: 15px;
		font-size: 35px;
	}

	.program__punkt {
		margin-top: 15px;
	}

	.program__text {
		font-size: 16px;
		line-height: 1.55;
	}

	.program__headline {
		font-size: 22px;
	}
}

@media(max-height:530px) {
	.program__punkt {
		margin-top: 20px;
	}

	.program {
		padding: 60px 30px;
	}
}

.mumi {
	width: 100%;
	height: 60vh;
	background: url(../images/podrostky/mumi.jpg) 50% 25% / cover no-repeat fixed;
}

.mumi__content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.mumi__block {
	width: 50%;
	height: 360px;
	background-color: #fff;
	padding: 20px;
}

.mumi__quote {
	width: 100%;
}

.quote__text {
	font-size: 18px;
	line-height: 1.55;
}

.quote__author {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.55;
}

.mumi__text {
	width: 100%;
	font-size: 20px;
	line-height: 1.55;
	margin-top: 20px;
}

@media(max-width:1406px) {
	.mumi {
		width: 100%;
		height: 60vh;
		background: url(../images/podrostky/mumi.jpg) 50% 10% / cover no-repeat fixed;
	}
}

@media(max-width:1126px) {
	.mumi {
		height: 80vh;
		background: url(../images/podrostky/mumi.jpg) 50% 0% / cover no-repeat fixed;
		padding: 30px;
	}
}

@media(max-width:964px) {
	.quote__text {
		font-size: 16px;
		line-height: 1.25;
	}

	.quote__author {
		font-size: 16px;
		line-height: 1.15;
	}

	.mumi__text {
		font-size: 20px;
		line-height: 1.25;
		margin-top: 10px;
	}
}

@media(max-width:800px) {
	.mumi__block {
		width: 60%;
		padding: 20px;
	}
}

@media(max-width:671px) {
	.mumi__block {
		width: 70%;
	}

	.mumi {
		height: 70vh;
		background: url(../images/podrostky/mumi.jpg) 35% 0% / cover no-repeat fixed;
		padding: 15px;
	}
}

@media(max-width:551px) {
	.mumi__block {
		width: 70%;
		padding: 15px;
	}

	.quote__text {
		font-size: 18px;
		line-height: 1.15;
	}

	.quote__author {
		font-size: 18px;
		line-height: 1.15;
	}

	.mumi__text {
		font-size: 18px;
		line-height: 1.15;
		margin-top: 10px;
	}
}

@media(max-width:433px) {
	.mumi__block {
		width: 95%;
	}

	.mumi {
		height: 70vh;
		background: url(../images/podrostky/mumi.jpg) 25% 0% / cover no-repeat fixed;
		padding: 15px;
	}

	.mumi__text {
		margin-top: 5px;
	}
}

@media(max-height:500px) {
	.mumi {
		height: 100vh;
		background: url(../images/podrostky/mumi.jpg) 25% 50% / cover no-repeat fixed;
		padding: 15px;
	}

	.mumi__block {
		height: 100%;
		width: 60%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
	}
}

.schedule {
	width: 100%;
	padding: 120px 0 75px;
}

.schedule__content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.schedule__block {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 130px;
}

.schedule__date {
	width: 20%;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.35;
	text-align: right;
	margin-right: 5%;
	position: relative;
	height: 100%;
}

.schedule__date::after {
	content: ' ';
	width: 16px;
	height: 16px;
	background-color: #210675;
	border-radius: 50%;
	position: absolute;
	top: 7px;
	right: -35px;
}

.schedule__date::before {
	content: ' ';
	width: 2px;
	height: 100%;
	background-color: #D4D4D4;
	position: absolute;
	top: 7px;
	right: -29px;
}

.schedule__date-white::before {
	content: ' ';
	width: 2px;
	height: 100%;
	background-color: #ffffff;
	position: absolute;
	top: 7px;
	right: -29px;
}

.schedule__text {
	width: 80%;
	font-size: 22px;
	font-weight: 400;
	height: 100%;
}

@media(max-width:1100px) {
	.schedule__text {
		font-size: calc(10px + (32 - 20) * ((100vw - 320px) / (1200 - 320)));
		margin-left: 10px;
	}

	.schedule__date {
		font-size: calc(10px + (32 - 20) * ((100vw - 320px) / (1200 - 320)));
	}
}

@media(max-width:900px) {
	.schedule__text {
		margin-left: 30px;
	}

	.schedule {
		padding: 120px 10px 75px 30px;
	}
}

@media(max-width:600px) {
	.schedule {
		padding: 60px 10px 0 0;
	}

	.schedule__date {
		width: 35%;
	}

	.schedule__text {
		width: 65%;
	}

	.schedule__block {
		height: 100px;
	}

	.schedule__date::after {
		top: 0;
	}

	.schedule__date::before {
		top: 0;
	}

	.schedule__date-white::before {
		top: 0;
	}
}


.info {
	width: 100%;
	padding: 0 0 100px;
}

.info__content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.info__text {
	width: 25%;
	font-size: 22px;
	line-height: 1.55;
}

.info__image-container {
	width: 75%;
}

.info__image {
	max-width: 100%;
}

@media(max-width:1150px) {
	.info {
		padding: 0 30px 100px;
	}

	.info__text {
		font-size: calc(10px + (32 - 20) * ((100vw - 320px) / (1200 - 320)));
	}
}

@media(max-width:800px) {
	.info__image-container {
		width: 65%;
	}

	.info__text {
		width: 35%;
	}
}

@media(max-width:650px) {
	.info__content {
		flex-direction: column;
	}

	.info__image-container {
		width: 100%;
	}

	.info__text {
		width: 90%;
		font-size: 16px;
	}

	.info {
		padding: 0 0 50px;
	}
}

@media(max-width:450px) {
	.info__text {
		width: 90%;
		font-size: 14px;
	}
}

.kontacts {
	width: 100%;
	padding: 0 50px 50px;
}

.kontacts__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.kontacts__headline {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 30px;
	text-align: center;
}

.kontacts__tel {
	font-size: 22px;
	font-weight: 600;
	color: #000;
	margin-bottom: 20px;
}

.kontacts__tel:hover {
	text-decoration: underline;
}

.kontacts__moreinfo {
	text-align: center;
	font-size: 18px;
	margin-bottom: 50px;
}

.socialinfo__medias {}

.fa-facebook {
	color: #0E8EF1;
	font-size: 40px;
	margin-right: 10px;
}

.fa-telegram {
	color: #0673c7;
	font-size: 40px;
	margin-right: 10px;
}

.fa-instagram {
	color: #eb0182;
	font-size: 40px;
}

.footer {
	width: 100%;
	height: 70px;
	background-color: #A691C0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
}

.footer__creators {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__paragraph {
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 1.35;
	font-weight: 600;
	color: #fff;
}

.creator {
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 1.35;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
}

.footer__linkup {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.linkup__text {
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 16px;
	line-height: 1.35;
	font-weight: 600;
	color: #fff;
}

.linkup__text span {
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 24px;
	line-height: 1.35;
	font-weight: 600;
	color: #fff;
}

.creator:hover {
	text-decoration: underline;
}